@charset "UTF-8";

.wp-block-clouansp-wiki-suite-wiki-contents {
	width: 100%;
}

.clouansp-wiki-contents__grid {
	display: grid;
	grid-template-columns: repeat( var( --clouansp-wiki-columns-desktop, 3 ), 1fr );
	column-gap: var( --clouansp-wiki-column-gap, 1rem );
	row-gap: var( --clouansp-wiki-row-gap, 1rem );

	@media ( max-width: 1024px ) {
		grid-template-columns: repeat( var( --clouansp-wiki-columns-tablet, 2 ), 1fr );
	}

	@media ( max-width: 768px ) {
		grid-template-columns: repeat( var( --clouansp-wiki-columns-mobile, 1 ), 1fr );
	}
}
