#cns-layout-wrapper {
	width: 92%;
	margin: auto;
}
body.single-wiki #cns-layout-wrapper > * {
	max-width: var(--cns-wiki-content-width, none);
	margin-inline: auto;
}

.cns-col__sidebar {
	--cns-wiki-sidebar-col: var(--wp--custom--layout--col-side, 24rem);
}

@media (max-width: 781px) {
	/* Mobile Wiki template layout */
	.cns-col__wiki {
		order: 1;
	}
	.cns-col__center {
		order: 2;
	}
}
@media (min-width: 782px) {
	.cns-col__sidebar {
		max-width: var(--cns-wiki-sidebar-col);
	}
	.wp-block-columns > .wp-block-column.cns-col.cns-col__wiki {
		flex: 0 0 auto;
		width: fit-content;
		max-width: 100%;
	}

	.wp-block-columns > .wp-block-column.cns-col.cns-col__center,
	.wp-block-columns > .wp-block-column.cns-col.cns-col__center-area {
		flex: 1 1 0;
		min-width: 0;
	}

	.wp-block-columns > .wp-block-column.cns-col.cns-col__sidebar {
		flex: 0 0 auto;
		width: fit-content;
	}
}
